<h1>Calculators#new</h1>
<p>Find me in app/views/calculators/new.html.erb</p>
<%= simple_form_for (@calculator_item) do |f| %>
  <%= f.input :name, 
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" }%>
  <%= f.input :lenght, 
                required: true,
                autofocus: true,
                input_html: { autocomplete: "length" }%>
  <%= f.input :width %>

  <%= f.input :height,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "height" }%>
  <%= f.input :"price",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "price" }%>
  <%= f.submit "Submit", class: "btn btn-secondary btn-lg btn-block" %>
<% end %>