<h1>Calculators#new</h1>
<p>Find me in app/views/calculators/new.html.erb</p>



<%= form_for @calculator do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :length %>:
  <%= f.text_field :length %><br />

  <%= f.label :width %>:
  <%= f.text_field :width %><br />

  <%= f.label :height %>:
  <%= f.text_field :height %><br />

  <%= f.submit %>
<% end %>