<h1>Calculators#new</h1>
<div class="row calculator-outline">
    <h1 class="col-sm-12 text-center calculator-header">Material calculator</h1>
    <%= form_for @calculator do |f| %>
    <div class="material-items row col-sm-12">
        <div class="btn material-parameters material-name">
            <p>Decking type</p>
            <div class=' material-list hidden'>
                <div ><p class=" btn btn-item">
                    <%= f.label :name %>:
                    <%= f.text_field :name %><br /></p>
                </div>
                <div ><p class=" btn btn-item">pine decking</p></div>
                <div ><p class=" btn btn-item">larch decking</p></div>
                <div ><p class=" btn btn-item">balau deckin</p></div>
            </div> 
        </div>
        <div class="material-parameters length dimensions">
            <p>
                <%= f.number_field :length, placeholder: 'length' %><br /></p>
        </div>
        <div class="material-parameters dimensions">
            <p>
                <%= f.number_field :width, placeholder: 'width' %><br /></p>
        </div>
        <div class="material-parameters dimensions">
            <p>
                <%= f.number_field :height, placeholder: 'height' %><br /></p>
        </div>
        <div class="material-parameters dimensions">
            <p>£</p>
        </div>
        <div class="material-parameters dimensions">
            <%= f.submit %>
        </div>
    </div>
    <div class="material-items row col-sm-12 summary-items">
        <div class="summary estimated-cost">
            <p>Estimeted cost</p>
        </div>
        <div class="summary total-figure">
            <p>£</p>
        </div>
        <div class="summary book-now-button">
            <p>Book Now</p>
        </div>
    </div>
    <h2 class="col-sm-12 text-center calculator-footer">Additional transport costs may apply</h2>
    <% end %>
</div>