<h1 class="page-header">Hardwood Decking</h1>
<%= render "decking_page" %>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= cl_image_tag("Deck%20Design/Decking/hardwood/large-hardwood-decking.jpg", :transformation=>[
  {:height=>600, :width=>1200, :crop=>"fill"},
  {:gravity=>"center", :height=>400, :overlay=>"logo:deckDesign-logo.png", :opacity=>25, :width=>400, :crop=>"fill"}
  ]) %>
    </div>
    <div class="carousel-item">
    <%= cl_image_tag("Deck%20Design/Decking/hardwood/veranda-decking-hardwood-decking.jpg", :transformation=>[
  {:height=>600, :width=>1200, :crop=>"fill"},
  {:gravity=>"center", :height=>400, :overlay=>"logo:deckDesign-logo.png", :opacity=>25, :width=>400, :crop=>"fill"}
  ]) %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("Deck%20Design/Decking/hardwood/yellow-balau-hardwood-decking-2", :transformation=>[
  {:height=>600, :width=>1200, :crop=>"fill"},
  {:gravity=>"center", :height=>400, :overlay=>"logo:deckDesign-logo.png", :opacity=>25, :width=>400, :crop=>"fill"}
  ]) %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("Deck%20Design/Decking/hardwood/yellow-balau-hardwood-decking-steps", :transformation=>[
  {:height=>600, :width=>1200, :crop=>"fill"},
  {:gravity=>"center", :height=>400, :overlay=>"logo:deckDesign-logo.png", :opacity=>25, :width=>400, :crop=>"fill"}
  ]) %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("Deck%20Design/Decking/hardwood/yellow-balau-hardwood-decking-garden", :transformation=>[
  {:height=>600, :width=>1200, :crop=>"fill"},
  {:gravity=>"center", :height=>400, :overlay=>"logo:deckDesign-logo.png", :opacity=>25, :width=>400, :crop=>"fill"}
  ]) %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("Deck%20Design/Decking/hardwood/yellow-balau-hardwood-decking", :transformation=>[
  {:height=>600, :width=>1200, :crop=>"fill"},
  {:gravity=>"center", :height=>400, :overlay=>"logo:deckDesign-logo.png", :opacity=>25, :width=>400, :crop=>"fill"}
  ]) %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("Deck%20Design/Decking/hardwood/contemporary-hardwood-decking", :transformation=>[
  {:height=>600, :width=>1200, :crop=>"fill"},
  {:gravity=>"center", :height=>400, :overlay=>"logo:deckDesign-logo.png", :opacity=>25, :width=>400, :crop=>"fill"}
  ]) %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("Deck%20Design/Decking/hardwood/hardwood-decking-garden", :transformation=>[
  {:height=>600, :width=>1200, :crop=>"fill"},
  {:gravity=>"center", :height=>400, :overlay=>"logo:deckDesign-logo.png", :opacity=>25, :width=>400, :crop=>"fill"}
  ]) %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("Deck%20Design/Decking/hardwood/hardwood-decking-modern", :transformation=>[
  {:height=>600, :width=>1200, :crop=>"fill"},
  {:gravity=>"center", :height=>400, :overlay=>"logo:deckDesign-logo.png", :opacity=>25, :width=>400, :crop=>"fill"}
  ]) %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag("Deck%20Design/Decking/hardwood/hardwood-decking", :transformation=>[
  {:height=>600, :width=>1200, :crop=>"fill"},
  {:gravity=>"center", :height=>400, :overlay=>"logo:deckDesign-logo.png", :opacity=>25, :width=>400, :crop=>"fill"}
  ]) %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<p>Find me in app/views/deckings/hardwood.html.erb</p>
