<div class="container-home row">
    <div class="homepage-header text-center">
        <h1>Create your garden a perfect outdoor living space with Deck Design</h1>

        <div class="search-homepage">
            <div class="row search-input">
                <div class="col-7 input-field-padding res-768px">
                    <input class="input-field" type="text" placeholder="what would you like to build?">
                </div>
                <div class="col-5 btn btn-secondary btn-lg"><%= link_to "Get Instant Quote!", new_calculator_path  %></div>
            </div>
            <div class="btn btn-dark btn-block quotes-padding"><%= link_to "Contact Us", forms_new_path  %></div>
        </div>

    </div>
</div>
<div class="container home-page-bottom">
    <h2>Our Decking Selection</h2>
    <div class="row ">
        <div class="col-sm">
            <%= link_to deckings_hardwood_path, class:"card-link" do %>
                <div class=" card" style="width: 18rem;">
                    <%= cl_image_tag("Deck%20Design/Decking/hardwood/large-hardwood-decking.jpg", :class => "card-img-top")%>
                    <div class="card-body bottom-card">
                        <h2>Hardwood decking</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-sm">
            <%= link_to deckings_softwood_path, class:"card-link" do %>
                <div class="card" style="width: 18rem;">
                    <%= cl_image_tag("Deck%20Design/Decking/softwood/contemporary-cedar-decking", :class => "card-img-top") %>
                    <div class="card-body bottom-card">
                        <h2>Softwood decking</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-sm">
            <%= link_to deckings_budget_path, class:"card-link" do %>
                <div class="card " style="width: 18rem;">
                    <%= cl_image_tag("Deck%20Design/Decking/budget/budget-decking-treated-pine%20wood.jpg", :class => "card-img-top") %>
                    <div class="card-body bottom-card">
                        <h2>Budget decking</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>