<ul class="social-bar">
<%= link_to root_path do %>
  <li><i class="fab fa-facebook-square face"></i></li>
<% end %>
<%= link_to root_path do %>
  <li><i class="fab fa-pinterest-square pint"></i></li>
<% end %>
<%= link_to root_path do %>
  <li><i class="fab fa-instagram insta"></i></li>
<% end %>
<%= link_to root_path do %>
  <li><i class="fab fa-linkedin"></i></li>
<% end %>
<%= link_to root_path do %>
  <li><i class="fas fa-phone-square"></i></li>
<% end %>
<%= link_to root_path do %>
  <li><i class="fas fa-envelope"></i></li>
<% end %>
</ul>